absl-py==1.4.0
apache-beam==2.46.0
array-record==0.2.0
astunparse==1.6.3
avro-python3==1.10.2
bleach==6.2.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==2.2.1
colorama==0.4.6
contextlib2==21.6.0
contourpy==1.3.0
crcmod==1.7
cycler==0.12.1
Cython==3.1.1
dill==0.3.1.1
dm-tree==0.1.8
docopt==0.6.2
etils==1.5.2
fastavro==1.11.1
fasteners==0.19
flatbuffers==25.2.10
fonttools==4.58.2
fsspec==2025.5.1
gast==0.4.0
gin-config==0.5.0
google-api-core==2.25.0
google-api-python-client==2.171.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.63.1
grpcio==1.72.1
h5py==3.14.0
hdfs==2.7.3
httplib2==0.21.0
idna==3.10
immutabledict==4.2.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
joblib==1.5.1
kaggle==1.7.4.5
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
libclang==18.1.1
lvis==0.5.3
lxml==5.4.0
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.9.4
numpy==1.24.3
oauth2client==4.1.3
oauthlib==3.2.2
object-detection @ file:///D:/University%20of%20Galway/Work/Sem%202/CT5108%20Data%20Analytics%20Project/faster_rcnn_project/models/research/object_detection/packages/tf2
objsize==0.6.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
orjson==3.10.18
packaging==25.0
pandas==2.3.0
pillow==11.2.1
portalocker==3.1.1
promise==2.3
proto-plus==1.26.1
protobuf==3.20.3
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycocotools==2.0.10
pydot==1.4.2
pymongo==3.13.0
pyparsing==2.4.7
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2025.2
pywin32==310
PyYAML==5.4.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
sacrebleu==2.2.0
scikit-learn==1.6.1
scipy==1.13.1
sentencepiece==0.2.0
seqeval==1.2.2
six==1.17.0
tabulate==0.9.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-addons==0.18.0
tensorflow-datasets==4.8.3
tensorflow-estimator==2.10.0
tensorflow-hub==0.16.1
tensorflow-intel==2.13.0
tensorflow-io==0.31.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.13.0
tensorflow-model-optimization==0.8.0
tensorflow-text==2.10.0
termcolor==3.1.0
text-unidecode==1.3
tf-keras==2.15.0
tf-models-official==2.10.1
tf-slim==1.1.0
threadpoolctl==3.6.0
toml==0.10.2
tqdm==4.67.1
typeguard==2.13.3
typing_extensions==4.5.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.4.0
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==1.17.2
zipp==3.22.0
zstandard==0.23.0
